<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>

<body>

<h2>FORM SẢN PHẨM</h2>

<form th:action="@{/admin/products/save}" th:object="${product}" method="post">

    <input type="hidden" th:field="*{id}"/>

    Tên:
    <input th:field="*{name}" required/><br><br>

    Gram:
    <input type="number" th:field="*{weightGrams}" required/><br><br>

    Giá sỉ:
    <input type="number" step="0.01" th:field="*{wholesalePrice}" required/><br><br>

    Hạn dùng (ngày):
    <input type="number" th:field="*{expiryDays}" min="0" required/><br><br>

    Active:
    <input type="checkbox" th:field="*{isActive}"/><br><br>

    <button type="submit">Lưu</button>

</form>

<a th:href="@{/admin/products}">⬅ Quay lại</a>

</body>
</html>