<h2>QUẢN LÝ USER</h2>

<a th:href="@{/admin/users/create}">➕ Thêm User</a>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Full Name</th>
    <th>Role</th>
    <th>Store</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  <tr th:each="u : ${users}">
    <td th:text="${u.id}"></td>
    <td th:text="${u.username}"></td>
    <td th:text="${u.fullName}"></td>
    <td th:text="${u.role.name}"></td>
    <td th:text="${u.store != null ? u.store.name : ''}"></td>
    <td th:text="${u.status}"></td>
    <td>
      <a th:href="@{/admin/users/edit/{id}(id=${u.id})}">✏</a>

      <a th:if="${u.status.name() == 'ACTIVE'}"
         th:href="@{/admin/users/lock/{id}(id=${u.id})}">
        🔒
      </a>

      <a th:if="${u.status.name() == 'LOCKED'}"
         th:href="@{/admin/users/unlock/{id}(id=${u.id})}">
        🔓
      </a>
    </td>
  </tr>
</table>